<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.siremuandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Consultar_lista_rep"></activity>
        <activity android:name=".Ventana_busqueda" />
        <activity android:name=".Registrarse" />
        <activity android:name=".MenuPrincipal" />
        <activity android:name=".Mis_listas_reproduccion" />
        <activity android:name=".Cola_reproduccion" />
        <activity android:name=".Lista_reproduccion_cmldr" />
        <activity android:name=".Fila_lista_main" />
        <activity android:name=".Fila_lista_canciones" />
        <activity android:name=".Login" />
        <activity android:name=".Info_cuenta_google" />
        <activity android:name=".Canciones" />
        <activity android:name=".Cancion" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>